{% extends 'index.html' %}

{% block title %}Tipos{% endblock %}

{% block body %}
<a type="button" href="{{ url_for('types_blueprint.add_type') }}">Crear Tipo</a>
<table id="TypeDex">
    <thead>
        <tr class="header">
            <th class="TypeDex-Row-Nombre-Header">Tipos</th>
            <th colspan="3">Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for tipo in tipos %}
        <tr>
            <td class="TypeDex-Row-Nombre-Value">{{ tipo.nombre }}</td>
            <td><a href="{{ url_for('types_blueprint.edit_type', type_name = tipo.nombre) }}"><img src="/static/icons/edit.svg"></a></td>
            <td><a href="{{ url_for('types_blueprint.view_type', type_name = tipo.nombre) }}"><img src="/static/icons/detail.svg"></a></td>
            <td><a href="{{ url_for('types_blueprint.delete_type', type_name = tipo.nombre) }}"><img src="/static/icons/delete.svg"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}