{% extends 'form.html' %}

{% block titles %}
<h1>Crear Tipo</h1>
<h2>Simple formulario para la creación de un tipo</h2>
{% endblock%}

{% block formulario_CRUD %}
<form action="/types/add" method="POST">
    <input type="text"
      id="edNombre"
      name="edNombre"
      placeholder="Nombre"
      aria-label="Nombre"
      required
    />

    
    <button type="submit" class="contrast">Añadir Tipo</button>
    <a href="/types" style="text-decoration:none;"><button type="button" class="contrast outline">Volver</button></a>
  </form>
{% endblock %}