<main>
    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    
    <a type="button" href="{{ url_for('views.teams') }}">Crear Equipo</a>
    <br>
    <a type="button" href="{{ url_for('views.types') }}">Crear Tipo</a>
    <br>
    <a type="button" href="{{ url_for('views.moves') }}">Crear Movimiento</a>

    <table id="DexTable">
        <thead>
            <tr class="header">
                <th class="DexTable-Row-Codigo-Header">Código Préstamo</th>
                <th class="DexTable-Row-Nombre-Header">Nombre</th>
                <th class="DexTable-Row-FechaCreacion-Header">Fecha de Creación</th>
                <th class="DexTable-Row-Creador-Header">Creador</th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr>
                <td class="DexTable-Row-Codigo-Value">{{ team.codigo }}</td>
                <td class="DexTable-Row-Nombre-Value">{{ team.nombre }}</td>
                <td class="DexTable-Row-FechaCreacion-Value">{{ team.fecha }}</td>
                <td class="DexTable-Row-Creador-Value">{{ team.autor }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>

    <table id="TypesTable">
        <thead>
            <tr class="header">
                <th class="TypesTable-Row-Nombre-Header">Tipos</th>
            </tr>
        </thead>

        <tbody>
            {% for type in types %}
            <tr>
                <td class="TypesTable-Row-Nombre-Value">{{ type.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>

    <table id="MoveDex">
        <thead>
            <tr class="header">
                <th class="MoveDex-Row-Nombre-Header">Nombre</th>
                <th class="MoveDex-Row-Categoria-Header">Categoria</th>
                <th class="MoveDex-Row-Potencia-Header">Potencia</th>
                <th class="MoveDex-Row-Tipo-Header">Tipo</th>
            </tr>
        </thead>

        <tbody>
            {% for move in moves %}
            <tr>
                <td class="MoveDex-Row-Nombre-Value">{{ move.nombre }}</td>
                <td class="MoveDex-Row-Categoria-Value">{{ move.categoria }}</td>
                <td class="MoveDex-Row-Potencia-Value">{{ move.potencia }}</td>
                <td class="MoveDex-Row-Tipo-Value">{{ move.tipo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</main>