<main>
    <input type="button" class="botonAcento" value="Crear Equipo">

    <table id="DexTable">
        <thead>
            <tr class="header">
                <th class="pkmn-table-th">Código Préstamo</th>
                <th class="pkmn-table-th">Creador</th>
                <th class="pkmn-table-th">Nombre del Equipo</th>
                <th class="pkmn-table-th">Fecha de Creación</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>

</main>