<main>
    <input type="button" class="botonAcento" value="Crear Equipo">

    <table id="DexTable">
        <thead>
            <tr class="header">
                <th class="DexTable-Row-Codigo-Header">Código Préstamo</th>
                <th class="DexTable-Row-Creador-Header">Creador</th>
                <th class="DexTable-Row-NombreEquipo-Header">Nombre del Equipo</th>
                <th class="DexTable-Row-FechaCreacion-Header">Fecha de Creación</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <td class="DexTable-Row-Codigo-Value"></td>
            <td class="DexTable-Row-Creador-Header"></td>
            <td class="DexTable-Row-NombreEquipo-Header"></td>
            <td class="DexTable-Row-FechaCreacion-Header"></td>
        </tr>
        </tbody>
    </table>

</main>