{% extends 'index.html' %}



{% block title %}Login{% endblock %}



{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
{% endblock %}


{% block body %}
<!-- Nav -->
<nav class="container-fluid">
    <ul>
      <li>
        <a class="contrast" href="{{ url_for("auth.login") }}"><strong>TeamPlanner</strong></a>
      </li>
    </ul>
  </nav>
  <!-- ./ Nav -->

  <!-- Main -->
  <main class="container">
    <article class="grid">

      {% if not usr.is_authenticated %}
      <div>
        <hgroup>
          <h1>Login</h1>
          <h2>Bienvenido, entrenador, introduzca sus datos</h2>
        </hgroup>
        <form action="/login" method="POST">
          <input type="text"
            id="edNombre"
            name="edNombre"
            placeholder="Usuario"
            aria-label="Usuario"
            required
          />
          <input type="text"
            id="edEmail"
            name="edEmail"
            placeholder="Email"
            aria-label="Email"
            required
          />
          <input type="password"
            id="edPassword"
            name="edPassword"
            placeholder="Contraseña"
            aria-label="Contrasena"
            required
          />
          <fieldset>
            <label for="remember">
              <input type="checkbox" role="switch" id="edRemember" name="edRemember" />
              Recordar Usuario
            </label>
          </fieldset>
          <button type="submit" class="contrast">Login</button>
        </form>
      </div>
      {% else %}
      <div>
        <hgroup>
          <h1>Login</h1>
          <h4>Ya has iniciado sesión, {{ usr.nombre }}, ¿desearías volver al dashboard?</h4>
          <a href="/dashboard">Dashboard</a>
          <a href="/logout">Logout</a>
          <a></a>
        </hgroup>
      </div>
      {% endif %}
    </article>
  </main>

{% endblock %}

{% block footer %}

<footer class="container-fluid">
    <small>Juan Yuri Díaz Sánchez • ALS 2023</small>
</footer>

{% endblock %}