{% extends 'index.html' %}

{% block body %}
<!-- Nav -->
<nav class="container-fluid">
    <ul>
      <li>
        <a href="./" class="contrast" onclick="event.preventDefault()"><strong>TeamPlanner</strong></a>
      </li>
    </ul>
  </nav>
  <!-- ./ Nav -->

  <!-- Main -->
  <main class="container">
    <article class="grid">
      <div>
        <hgroup>
          {% block titles %}
          {% endblock%}
        </hgroup>

        {% block formulario_CRUD %}
        {% endblock %}
        
      </div>
    </article>
  </main>

{% endblock %}