<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/tables.css') }}">
    
    
    
    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}

    <!-- Common JS -->
    <script src="js/minimal-theme-switcher.js"></script> <!-- Minimal theme switcher -->
</head>

<body>
    <aside id="sidebar">
      <a class="sidebar-item" href="{{ url_for('teams_blueprint.teams') }}">
        <img src="{{ url_for('static', filename='/icons/home.svg') }}" width="32" height="32">
      </a>
      <a class="sidebar-item" type="button" href="{{ url_for('pokemon_blueprint.pokemon') }}">
        <img src="{{ url_for('static', filename='/icons/pokemon.svg') }}" width="32" height="32">
      </a>
      <a class="sidebar-item" type="button" href="{{ url_for('moves_blueprint.moves') }}">
        <img src="{{ url_for('static', filename='/icons/habilidades.svg') }}" width="32" height="32">
      </a>
      <a class="sidebar-item" type="button" href="{{ url_for('types_blueprint.types') }}">
        <img src="{{ url_for('static', filename='/icons/tipos.svg') }}" width="32" height="32">
      </a>
      <a class="sidebar-item end" type="button" href="{{ url_for('auth.logout') }}">
        <img src="{{ url_for('static', filename='/icons/logout.svg') }}" width="32" height="32">
      </a>
    </aside>
    
    <!-- FLASH MESSAGES -->
    
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          {% for category, message in messages %}
              {% if category == 'error' %}
              <div class="toast-error">
                <div class="toast-message-error">
                  <p>{{ message }}</p>
                </div>
              </div>
              {% else %}
              <div class="toast-error">
                <div class="toast-message-success">
                  <p>{{ message }}</p>
                </div>
              </div>
              {% endif %}
          {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    {% block body %}
    {% endblock %}

    <footer class="container-fluid footer">
        <small>{{usr.nombre}} • ALS 2023</small>
    </footer>
</body>
</html>