<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">

    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}

    <!-- Common JS -->
    <script src="js/minimal-theme-switcher.js"></script> <!-- Minimal theme switcher -->
</head>

<body>
    {% block body %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>