<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Common CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    
    <!-- Custom CSS -->
    {% block customCSS %}
    {% endblock %}

    <!-- Common JS -->
    <script src="js/minimal-theme-switcher.js"></script> <!-- Minimal theme switcher -->
</head>

<body>
    <!-- FLASH MESSAGES -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                </div>
            {% else %}
                <div class="alert alert-success alter-dismissable fade show" role="alert">
                {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <footer class="container-fluid">
        <small>Juan Yuri Díaz Sánchez • ALS 2023</small>
    </footer>
</body>
</html>