{% extends 'form.html' %}

{% block title %}Crear Equipo{% endblock %}

{% block titles %}
<h1>Crear Equipo</h1>
<h2>Simple formulario para la creación de un equipo</h2>
{% endblock%}

{% block formulario_CRUD %}
<form action="/teams/add" method="POST">
    <input type="text"
      id="edNombre"
      name="edNombre"
      placeholder="Nombre"
      aria-label="Nombre"
      required
    />
    <input type="number"
      id="edCodigo"
      name="edCodigo"
      placeholder="Codigo Renta"
      aria-label="Codigo Renta"
      required
    />
    <input type="text"
      id="edDescripcion"
      name="edDescripcion"
      placeholder="Descripción"
      aria-label="Descripción"
      required
    />
    <input type="date"
      id="edFecha"
      name="edFecha"
      placeholder="Fecha"
      aria-label="Fecha"
      required
    />
    <input type="number"
      id="edRating"
      name="edRating"
      placeholder="Rating"
      aria-label="Rating"
      required
    />

    <button type="submit" class="contrast">Añadir Equipo</button>
  </form>
{% endblock %}