{% extends 'form.html' %}

{% block title %}Visualizar Equipo{% endblock %}

{% block titles %}
<h1>Eliminar Equipo</h1>
<h2>Visualizar las estadísticas del equipo: {{team.nombre}}</h2>
{% endblock%}

{% block formulario_CRUD %}
<form action="/teams/delete/{{team.codigo}}" method="POST">

    <label>Nombre
    <input type="text"
      id="edNombre"
      name="edNombre"
      aria-label="Nombre"
      value="{{team.nombre}}"
      disabled
    /></label>

    <label>Código de Renta
    <input type="number"
      id="edCodigo"
      name="edCodigo"
      aria-label="Codigo Renta"
      value="{{team.codigo}}"
      disabled
    /></label>

    <label>Descripción
    <input type="text"
      id="edDescripcion"
      name="edDescripcion"
      aria-label="Descripción"
      value="{{team.codigo}}"
      disabled
    /></label>

    <label>Fecha
    <input type="text"
      id="edFecha"
      name="edFecha"
      aria-label="Fecha"
      value="{{team.fecha}}"
      disabled
    /></label>

    <label>Rating
    <input type="number"
      id="edRating"
      name="edRating"
      aria-label="Rating"
      value="{{team.rating}}"
      disabled
    /></label>

    <button type="submit" class="contrast">Eliminar</button>
    <a href="/teams" style="text-decoration:none;"><button type="button" class="contrast outline">Volver</button></a>
  </form>
{% endblock %}