{% extends './index.html' %}



{% block title %}Login{% endblock %}



{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css/login.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
{% endblock %}


{% block body %}
<!-- Nav -->
<nav class="container-fluid">
    <ul>
      <li>
        <a href="./" class="contrast" onclick="event.preventDefault()"><strong>TeamPlanner</strong></a>
      </li>
    </ul>
  </nav>
  <!-- ./ Nav -->

  <!-- Main -->
  <main class="container">
    <article class="grid">
      <div>
        <hgroup>
          <h1>Registro</h1>
          <h2>Para continuar, por favor introduzca sus datos</h2>
        </hgroup>
        <form>
          <input type="text" name="login"
            placeholder="Usuario"
            aria-label="Usuario"
            required
          />

          <input type="text" name="login"
            placeholder="Email"
            aria-label="Email"
            required
          />

          <input type="password" name="password"
            placeholder="Contraseña"
            aria-label="Contrasena"
            required
          />
          <button type="submit" class="contrast" onclick="event.preventDefault()">Registrarse</button>
        </form>
      </div>
      <div></div>
    </article>
  </main>

{% endblock %}

{% block footer %}

<footer class="container-fluid">
    <small>Juan Yuri Díaz Sánchez • ALS 2023</small>
</footer>

{% endblock %}